<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>News Website</h1>
    <hr>
  </header>

  {{{body}}}

  <hr>
  <footer>
    <p>&copy; 2026 News Corp</p>
  </footer>
</body>
</html>
